<% @title = "Сотрудничество" %> 


<div class="main_block">
	<!--<img src="/static/scae/base/img/under_construct.png" style="padding-left: 150px;"/>-->
	<img src="/assets/underconstruct.jpg" style="padding-left: 200px;"/>
</div>
