<div class="main_block" style="min-height: 398px;">
		<div class="newslist">
			<ul class="news_content">
				<li>
					<div class="n_name" data-status="closed">Мы на МАКС-2013</div>
					<div class="n_date">28.08.2013</div>
					<div class="n_preview">Дорогие друзья и коллеги! С 27 августа по 1 сентября мы участвуем в <%= link_to "Международном авиационно-космическом салоне МАКС", "http://www.aviasalon.com/ru/", :target => '_blank' %></div><div class="n_content"><div class="slider_close btn">Свернуть</div></div>
				</li>
			</ul><br>	
		</div>
		<div class="sections" id="sections">
			<ul style="margin-top: -10px;">
				<li id="square-01">
					<a href="/activities/1" class="block-text" style="text-decoration: none; background: url('/assets/antenni.jpg') no-repeat  bottom;"></a>
				</li>
				<li id="square-02">
					<a href="/activities/2" class="block-text" style="text-decoration: none; background: url('/assets/ships2.jpg') no-repeat  bottom;"></a>
				</li>
				<li id="square-03">
					<a href="/activities/3" class="block-text" style="text-decoration: none; background: url('/assets/comp2.jpg') no-repeat  bottom;"></a>
				</li>
			</ul>
			<ul>
				<li id="square-04">
					<a href="/activities/4" class="block-text" style="text-decoration: none; background: url('/assets/electromagnetic.jpg') no-repeat  bottom;"></a>
				</li>
				<li id="square-05">
					<a href="/activities/5" class="block-text" style="text-decoration: none; background: url('/assets/telescopes.jpg') no-repeat  bottom;"></a>
				</li>
				<li id="square-06">
					<a href="/activities/6" class="block-text" style="text-decoration: none; background: url('/assets/microshema.jpg') no-repeat  bottom;"></a>
				</li>
			</ul>			
			<ul>
				<li id="square-07">
					<a href="/activities/7" class="block-text" style="text-decoration: none; background: url('/assets/robots2.jpg') no-repeat  bottom;"></a>
				</li>
				<li id="square-08">
					<a href="/activities/8" class="block-text" style="text-decoration: none; background: url('/assets/mehanika.jpg') no-repeat  bottom;"></a>
				</li>
				<li id="square-09">
					<a href="/activities/9" class="block-text" style="text-decoration: none; background: url('/assets/pelengators.jpg') no-repeat  bottom;"></a>
				</li>
			</ul>
			<div style="float:none; clear: both;"></div>
		</div>
</div>