<div class="main_block" style="min-height: 398px;">
		<div class="newslist">
			<ul class="news_content">
				<li>
					<div class="n_name" data-status="closed">И еще одна новость</div>
					<div class="n_date">12.08.2013</div>
					<div class="n_preview">Lorem ipsum dolor sit amet, consectetuer adipiscing elit....</div><div class="n_content"><div class="slider_close btn">Свернуть</div></div>
				</li>
				<li>
					<div class="n_name" data-status="closed">И еще одна новость</div>
					<div class="n_date">12.08.2013</div>
					<div class="n_preview">Lorem ipsum dolor sit amet, consectetuer adipiscing elit....</div><div class="n_content"><div class="slider_close btn">Свернуть</div></div>
				</li>
				<li>
					<div class="n_name" data-status="closed">И еще одна новость</div>
					<div class="n_date">12.08.2013</div>
					<div class="n_preview">Lorem ipsum dolor sit amet, consectetuer adipiscing elit....</div><div class="n_content"><div class="slider_close btn">Свернуть</div></div>
				</li>
			</ul><br>	
		</div>
		<div class="sections" id="sections">
			<ul style="margin-top: -10px;">
				<li id="square-01">
					<a href="/ru/activities/antennas/" class="block-text" style="text-decoration: none; background: url('/assets/antennas.png') no-repeat  bottom;"></a>
				</li>
				<li id="square-02">
					<a href="/ru/activities/syssoft/" class="block-text" style="text-decoration: none; background: url('/assets/syssoft.png') no-repeat  bottom;"></a>
				</li>
				<li id="square-03">
					<a href="/ru/activities/complex/" class="block-text" style="text-decoration: none; background: url('/assets/complex.png') no-repeat  bottom;"></a>
				</li>
			</ul>
			<ul>
				<li id="square-04">
					<a href="/ru/activities/ems/" class="block-text" style="text-decoration: none; background: url('/assets/ems.png') no-repeat  bottom;"></a>
				</li>
				<li id="square-05">
					<a href="/ru/activities/radiotele/" class="block-text" style="text-decoration: none; background: url('/assets/radiotele.png') no-repeat  bottom;"></a>
				</li>
				<li id="square-06">
					<a href="/ru/activities/radioelec/" class="block-text" style="text-decoration: none; background: url('/assets/radioelec.png') no-repeat  bottom;"></a>
				</li>
			</ul>			
			<ul>
				<li id="square-07">
					<a href="/ru/activities/uav/" class="block-text" style="text-decoration: none; background: url('/assets/uav.png') no-repeat  bottom;"></a>
				</li>
				<li id="square-08">
					<a href="/ru/activities/mech/" class="block-text" style="text-decoration: none; background: url('/assets/mechanics.png') no-repeat  bottom;"></a>
				</li>
				<li id="square-09">
					<a href="/ru/activities/peleng/" class="block-text" style="text-decoration: none; background: url('/assets/peleng.png') no-repeat  bottom;"></a>
				</li>
			</ul>
			<div style="float:none; clear: both;"></div>
		</div>
</div>