<div class="main_block">
	<div class="infoblock" style="overflow-y: scroll;">
		<p style="text-indent: 20px;">
		Научный центр прикладной электродинамики - общество с ограниченной ответственностью, созданное в 2002 году. В своей практической деятельности мы решаем задачи высшего уровня сложности в области электродинамики, антенной техники, электромагнитной совместимости, а также распространения и рассеяния радиоволн на объектах сложной формы. Вместе с тем предприятие имеет базу для решения прикладных задач по разработке, проектированию, изготовлению опытных образцов, настройке и регулировке антенн любых типов и любого функционального назначения - от антенн мобильных телефонов до радиотелескопов, включая адаптивные и сверхширокополосные антенны.
		Партнерами НЦ ПЭ являются такие предприятия как ФГУП КБ "Арсенал", ФГУП ЦНИИ "Электроприбор", ОАО "Завод "Энергия", ОАО РИРВ, Государственный НИИ прикладных проблем ФСТЭК России, НИИ "Вектор" и др.</p><br><p style="text-indent: 20px;">
		ООО "Научный центр прикладной электродинамики" участвует в научных программах под эгидой Российской Академии Наук (Санкт-Петербургский Научный Центр Российской Академии Наук, Астро-Космический Центр при РАН, Физический институт им. П. Н. Лебедева РАН), проводит научные исследования по совершенствованию экспериментальной базы при разработке новых образцов антенной техники, участвует в разработке перспективных и конкурентоспособных антенн для радиоэлектронных средств различного назначения.
		</p><br>
		<p><strong>Разработка:</strong></p>

<ul style="margin-left: 40px;">
	<li>одиночных антенн, антенных решеток, антенн пеленгаторов, адаптивных антенных решеток</li>
	<li>аппаратно-программных комплексов</li>
	<li>программных продуктов в области электродинамики</li>
</ul>

<p><strong>Расчет</strong></p>

<ul style="margin-left: 40px;">
	<li>полей рассеяния на реальных объектах сложной формы</li>
	<li>ЭМС в пределах РЭС, отсека, объекта в целом</li>
	<li>влияния подстилающей поверхности на параметры и характеристики антенн и радиоэлектронных устройств в целом</li>
</ul>

<p><strong>Изготовление</strong></p>

<ul style="margin-left: 40px;">
	<li>одиночных антенн, антенных решеток, антенн пеленгаторов, адаптивных антенных решеток</li>
	<li>устройств обработки сигналов</li>
	<li>аппаратно-программных комплексов</li>
</ul>

<p><strong>Измерение</strong></p>

<ul style="margin-left: 40px;">
	<li>параметров и характеристик антенн</li>
</ul>
		<br>
</div>
</div>