<div class="clear"></div>
<div class="foot_border"></div>
<div class="footer">
	<div class="foot-additional-menu to-mobile" style="position: absolute; left: 30px; top: 15px; width: 200px; height: 30px;">
		
		
	</div>
	<div class="foot-additional-menu to-projects" style="margin-left: 30px;position: absolute; left: 100px; top: 15px; width: 150px; height: 30px;">
		
	</div>
	<!--
	<div class="foot-additional-menu to-map" style="margin-left: 30px;position: absolute; left: 175px; top: 15px; width: 150px; height: 30px;">
		<p><a href="/ru/sitemap/" class="foot-link" style="font-size: 14px;">Карта</a></p>
	</div>
	-->
	<div class="foot-additional-menu to-news" style="margin-left: 30px;position: absolute; left: 175px; top: 15px; width: 150px; height: 30px;">
		
	</div>
	<div class="foot-right" style="position: absolute; right: 2px; top: 15px; text-align: right;">
	<p style="line-height: 180%">
		Научный центр прикладной электродинамики<br>
		190103, Российская Федерация, Санкт-Петербург<br> Рижский пр. 26, лит. А пом. 10Н, ком. 22<br>
		Тел.: +7 (812) 324-25-87<br>
		email: <a class="main_mail" href="mailto:office@scaegroup.com">office@scaegroup.com</a>
	</p>
	</div>
	<div class="foot-additional-menu to-mobile" style="position: absolute; left: 30px; bottom: -20px; width: 200px; height: 30px;">
		<p>&copy; 2005-2013 ООО "НЦПЭ"</p>
	</div>		
</div>