.joblist {
	float: left;
	width: 250px;
	min-height: 400px;
	word-wrap: break-word;
	margin-left: 30px;
}

.job_content {
	width: 250px;
	color: #222;
	vertical-align: top;
	list-style-type: none;
}

.job_content li {
	_height: 80px;
	vertical-align: top;
}

.job_post {
	font-weight: normal;
	text-decoration: underline;
	color: rgba(0,65,125,1);
	cursor: pointer;
}

.job_date {
	font-style: normal;
	font-size: 12px;
	_text-decoration: underline;
}

.job_preview {
	margin-bottom: 15px;
}

.job_preview_2 {
	margin-bottom: 15px;
	width: 550px;
}

.job_content_all {
	display: none;
	width: 800px;
	_min-height: 600px;
	_height: auto;
}